* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}

/* 
header{
    position: relative;
    background-color: antiquewhite;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
} */
.myntra_home {
  height: 50px;
  margin-left: 30px;
  justify-items: center;
}

header {
  position:relative;
  background-color: #ffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-bottom: 2px solid whitesmoke;
}

.navigation_bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.navigation_bar a {
  text-decoration: none;
  font-weight: 701;
  font-size: 14px;
  color:#282c3f;
 
  text-transform: uppercase;
  letter-spacing: 0.3px;
  position: relative; /* Change position to relative */
}

.navigation_bar a #top{
    position: absolute;
    right: -35px;
    top: -10px;
    font-size: smaller;
    font-weight: 400;
    color: red;
}
.navigation_bar a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px; /* Adjust based on your preference */
  height: 2px; /* Border thickness */
  background-color: brown; /* Border color */
  transform: scaleX(0); /* Start with no visibility */
  transition: transform 0.1s ease; /* Animation for hover effect */
}

.navigation_bar a:hover::after {
  transform: scaleX(1); /* Expand the border on hover */
}

.navigation_bar a sup {
  color: red;
}
.search_bar {
  height: 40px;
  min-width: 500px;
  display: flex;
  align-items: center;
}
.search_logo {
  box-sizing: content-box;
  height: 20px;
  font-weight: 300;
  background-color: #f5f5f6;
  padding: 10px;
  border-radius: 7px 0px 0px 7px;
}
.search_input {
  flex-grow: 1;
  background-color: #f5f5f6;
  height: 40px;
  border-radius: 0px 7px 7px 0px;
  border: 0;
}
/* .navigation_bar a:hover{
   
    border-bottom: brown 1px solid;
    position: absolute;
    bottom: 10px;
    
} */
.action_bar {
  box-sizing: content-box;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 35px;
  width: 194px;
  
  
}
h1 {
  font-weight: 701;
  font-size: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color:#282c3f;
}
#bag{
  position: relative;
  left: 4px;
  
}
#list{
  position: relative;
  right: 6px;
}
#profile{
  position: relative;
  right:3px; 
}
.bar{
  color: #282c3f;
}
.hero{
  width: 100%;
}
.her{
  width: 750px;
  height:450px;
  position: relative;
  left: 15px;
  
}
.her1{
  width: 750px;
  height: 450px;
  position: relative;
  left: 10px;
  
  
  
}
.box{
  background-color: rgba(193, 237, 248, 0.4);
  height: 55px;
  width: 1518px; 
}
.box2{
  height: 300px;
  width:50px ;
  background-color:#3e4152;
  text-align: center;
  position: fixed;
  bottom: 140px;
  left: 1470px;

}
h6{
  text-align: center;
  position: relative;
  bottom: -240px;
  transform: rotate(-90deg);
  text-wrap: nowrap;
  color: #f5f5f6;
  font-size: x-large;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#banner_offerid{
  width: 700px;
  margin-left:30px;
}
#end{
  text-align: center;
  color: chocolate;
  padding-top: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  font-size: x-large;
}
.text-banner{
    color: #282c3f;
    font-style: italic;
    height: 100px;

}


.catogery_container{
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}
.catogery{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  
}
.grand_container{
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
  justify-content:space-between
}

.grand{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
footer{
  background-color: #f5f5f6;
  height: 600px;
}

.onlineshoping{

display: grid;
font-size: small;
margin-left: 180px;
margin-top: 10px;
position: relative;
top: 50px;
font-weight: 400px;
text-transform: uppercase;

}
.onlineshoping a{
  text-decoration: none;
  margin: 8px;
  color: gray;
  font-family: cursive;
  position: relative;
  margin-left: 8px;
  text-transform:capitalize
}
.customerpolices{
  display: grid;
  margin-left: 480px;
  position: relative;
  bottom: 170px;
  text-transform: uppercase;
  font-size: small;
}
.customerpolices a{
  text-decoration: none;
  margin: 8px;
  color: gray;
  font-family: cursive;
  text-transform: capitalize;
}
.usefullinks{

  display: grid;
  margin-left: 820px;
  position: relative;
  bottom: 422px;
  text-transform: uppercase;
  font-size: small;
}
.usefullinks a{
  text-decoration: none;
  margin: 8px;
  color: gray;
  font-family: cursive;
  text-transform: capitalize;

}
.popularsearch{
  text-decoration: none;
  margin: 8px;
  color: gray;
  font-family: cursive;
  text-transform: capitalize;
  position: relative;
  bottom: 330PX;

}
.incase{
   text-decoration: none;
  margin: 8px;
  color: gray;
  font-family: cursive;
  text-transform: capitalize;
  position: relative;
  bottom: 300PX;
  display: flex;
  justify-content: space-evenly;


}
.incase a{
  text-decoration: none;
  color: grey;
}



