*{
    margin: 0;
    padding: 0;
    content: none;
    
}
header{
    width: 100vw;
    height: 10vh;
    background-color: aqua;
    position: fixed;
}
.navigation a {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    
    

}
main{
    background-image: url(/newproject/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 1000px;
    

}