
*{
    padding: 0%;margin: 0%;
}
.a{
    height: 50px;
    width: 50px;
    display:  inline;
    justify-content: end;
    text-decoration: none;
     margin-left: 60px;
     padding: 10px;

    
    
    
}
header{
    background-color: chocolate;
    height: 30px;
}nav{
    padding: 1px;
    font-size: x-large;
}
#div{
    background-color: green;
    border-radius: 50px;
    height: 50px;width: 50px;
    margin-top: 6px;
}
#container{
border: 3px solid black; 
margin: 5px;}
.b{
    height: 100px;width: 100px;
    display: inline-block ;
    background-color: brown;
    margin-right: 10px;
}
